<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CBTW Automation Suite">

    <listeners>
        <!-- BẮT BUỘC: Allure core listener -->
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>

        <!-- Custom listener của bạn -->
        <listener class-name="ctflearn.com.listeners.AllureTestListener"/>
    </listeners>

    <test name="UI Tests">
        <packages>
            <package name="ctflearn.com.tests"/>
        </packages>
    </test>

    <test name="API Tests">
        <packages>
            <package name="api.tests"/>
        </packages>
    </test>

</suite>
